  <div class="tt-collapse open">
    <h3 class="tt-collapse-title">{{ heading_title }}</h3>
    <div class="tt-collapse-content" style="">
      <p style="text-align: center;">{{ text_store }}</p>
      {% for store in stores %} 
      {% if (store['store_id'] == store_id) %} 
      <a href="{{ store['url'] }}"><b>{{ store['name'] }}</b></a><br />
      {% else %} 
      <a href="{{ store['url'] }}">{{ store['name'] }}</a><br />
      {% endif %} 
      {% endfor %} 
      <br />
    </div>
  </div>