<html>
<head>
<title>Etiquetas Correios</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<style>
{literal}
@media print {
	.quebrapagina {page-break-after: always;}
}
hr.linha {
  border:none;
  border-top:1px dashed #000;
  height:1px;
  width:90%;
}
@media print
{    
.no-print, .no-print * {
display: none !important;
}
}
.style1 {
font-family: Arial, Helvetica, sans-serif;
font-size: 13px;
}
.style2 {
font-family: Arial, Helvetica, sans-serif;
font-size: 10px;
}
.style4 {
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 10px;
}
.style6 {font-family: Arial, Helvetica, sans-serif; font-size: 16px; }
{/literal}
</style>
</head>
<body>
<center>
<img onclick="self.print();" class="no-print" style="cursor:pointer" src="../app/correiospro5/img/imprimir.jpg" border="0">


{% set i=0 %}
{% for pedido in pedidos %}
{% set i=i+1 %}


<fieldset style="width:80%;border-style: dashed;margin-bottom:5px;padding: 20px;">
<table width="100%" border="0" cellpadding="0" cellspacing="0">
<tr>
<td width="100%"  valign="top">
<table border="0" cellpadding="0" cellspacing="0" align="center" width="100%">

<tr>
<td colspan="2" valign="top">
<img width="120" src="../app/correiospro5/img/destinatario.gif" border="0">
</td>
</tr>

<tr>
<td valign="top">
<span class="style6">
<b>{{ pedido['shipping_firstname'] }} {{ pedido['shipping_lastname'] }}</b><br>
{{ pedido['shipping_address_1'] }} {{ pedido['shipping_custom_field'][config['shipping_correiospro5_custom_numero']] is defined?pedido['shipping_custom_field'][config['shipping_correiospro5_custom_numero']]:'' }} {{ pedido['shipping_custom_field'][config['shipping_correiospro5_custom_complemento']] is defined?pedido['shipping_custom_field'][config['shipping_correiospro5_custom_complemento']]:'' }}<br>
{{ pedido['shipping_address_2'] }}<br>
{{ pedido['shipping_city'] }}/{{ pedido['shipping_zone_code'] }}<br>
<b>CEP:</b> {{ pedido['shipping_postcode'] }}
</span>
</td>
<td width="100" align="right" valign="top">
{% if (pedido['chancela'] is not empty) %} 
<img src="{{ pedido['chancela'] }}" width="90">
{% endif %} 
</td>
</tr>

<tr>
<td colspan="2" valign="top">
<div align="center" class="style4">
<br>
<img src="../app/correiospro5/barcode.php?text={{ pedido['shipping_postcode'] }}&codetype=code128&size=40">
<br>
<b>{{ pedido['shipping_postcode'] }}</b>
</div>
<hr align="center" width="100%" style="border-style: dashed;" size="1">
<div class="style2">
<b>Remetente:</b><br> {{ config['shipping_correiospro5_remetente'] }} 
<br>
{{ config['shipping_correiospro5_endereco_remetente']|nl2br }} 
</div>
</td>
</tr>

</table>
</td>
</tr>
</table>
</fieldset>

{% if (i%3 == 0) %} 
<div class="quebrapagina"></div>
{% endif %} 


{% endfor %}


</center>
</body>
</html>