{{ header }} 

<!--
Módulo Comercial - Loja5.com.br
Proibido vender, revender ou distribuir o mesmo sem a devida licença de uso de acordo os termos da lei 9.609/98 e nº 9.610/98, que protegem o direito de autor sobre programas de computador.
https://www.loja5.com.br/termos-de-compra-suporte-loja5-i5.html 
-->

{{ column_left }} 

<div id="content">

<div class="page-header">
<div class="container-fluid">
<div class="pull-right">
<a href="{{ voltar }}" class="btn btn-default"><i class="fa fa-reply"></i> Voltar</a></div>
<h1>{{ heading_title }}</h1>
<ul class="breadcrumb">
{% for breadcrumb in breadcrumbs %} 
<li><a href="{{ breadcrumb['href'] }}">{{ breadcrumb['text'] }}</a></li>
{% endfor %} 
</ul>
</div>
</div>

<div class="container-fluid">

<div class="alert alert-info" role="alert">Lista de valores cadastrados e atualizados para a tabela selecionada, lembre-se que os valores e prazo s&atilde;o apenas estimativas baseadas no CEP base X Cep Origem para cada faixa de CEP correspondente.</div>

<div class="panel panel-default">
<div class="panel-heading">
<h3 class="panel-title"><i class="fa fa-lista"></i> Valores de Tabelas</h3>
</div>
<div class="panel-body">

<div class="table-responsive">
<table class="table table-bordered table-hover">
<thead>

<tr>
<td>ID</td>
<td>Servi&ccedil;o</td>
<td>Erro</td>
<td>Valor</td>
<td>Prazo</td>
<td>Peso</td>
<td>Faixa</td>
<td>Base</td>
<td>Atualizado</td>
</tr>

</thead>
<tbody>

{% if (valores.num_rows > 0) %}

{% for k,v in valores.rows %} 
<tr>
<td>{{ "%05d"|format(v['id']) }}</td>
<td>{{ v['id_servico'] }} - {{ v['nome'] }}</td>
<td>{{ v['erro'] }}</td>
<td>{{ v['valor'] }} R$</td>
<td>{{ v['prazo'] }} dia(s)</td>
<td>{{ v['peso'] }} kg</td>
<td>{{ "%05d"|format(v['cep_inicio']) }}-000 at&eacute; {{ "%05d"|format(v['cep_fim']) }}-999</td>
<td>{{ "%08d"|format(v['cep_base']) }}</td>
<td>{{ v['atualizado'] }}</td>
</tr>
{% endfor %} 
{% else %} 
<tr>
<td class="text-center" colspan="10">Nenhum registro disponivel!</td>
</tr>
{% endif %} 
</tbody>
</table>
</div>

<div class="row">
  <div class="col-sm-6 text-left">{{ pagination }}</div>
  <div class="col-sm-6 text-right">{{ results }}</div>
</div>

</div>
</div>

</div>
</div>

{{ footer }}