{{ header }} 

{{ column_left }} 

<div id="content">

<div class="page-header">
<div class="container-fluid">
<h1>Etiquetas de Postagem</h1>
<ul class="breadcrumb">
{% for breadcrumb in breadcrumbs %} 
<li><a href="{{ breadcrumb['href'] }}">{{ breadcrumb['text'] }}</a></li>
{% endfor %} 
</ul>
</div>
</div>

<div class="container-fluid">

<div class="well">
<div class="row">

<div class="col-sm-6">
<div class="form-group">
<label class="control-label" for="input-order-id">Pedido ID</label>
<input type="text" name="filter_order_id" value="{{ filter_order_id }}" placeholder="ID" id="input-order-id" class="form-control" />
</div>
<div class="form-group">
<label class="control-label" for="input-customer">Cliente</label>
<input type="text" name="filter_customer" value="{{ filter_customer }}" placeholder="Cliente" id="input-customer" class="form-control" />
</div>
</div>

<div class="col-sm-6">
<div class="form-group">
<label class="control-label" for="input-order-status">Status</label>
<select name="filter_order_status" id="input-order-status" class="form-control">
<option value="*">Todos</option>
{% for order_status in order_statuses %} 
{% if (order_status['order_status_id'] == filter_order_status) %} 
<option value="{{ order_status['order_status_id'] }}" selected="selected">{{ order_status['name'] }}</option>
{% else %} 
<option value="{{ order_status['order_status_id'] }}">{{ order_status['name'] }}</option>
{% endif %} 
{% endfor %} 
</select>
</div>
<div class="form-group text-center">
<div class="btn-group" role="group" aria-label="true">
<button type="button" id="button-filter" class="btn btn-primary"><i class="fa fa-search"></i> Filtrar Pedidos</button>
<button type="button" onclick="imprimirEtiquetas()" class="btn btn-warning"><i class="fa fa-print"></i> Imprimir Etiquetas</button>
</div>
<br><br>
<i>As etiquetas de postagem n&atilde;o &eacute; e nem possue integra&ccedil;&atilde;o SIGEP!</i>
</div>
</div>

</div>
</div>
        

<div class="panel panel-default">
<div class="panel-heading">
<h3 class="panel-title"><i class="fa fa-list"></i> Pedidos ({{ total_registro }} registros)</h3>
</div>
<div class="panel-body">

<form method="post" enctype="multipart/form-data" target="_blank" id="form-order">
<div class="table-responsive">
<table class="table table-bordered table-hover">
<thead>

<tr>
<td style="width: 1px;" class="text-center"><input type="checkbox" onclick="$('input[name*=\'selected\']').prop('checked', this.checked);" /></td>
<td class="text-right">Pedido ID</td>
<td class="text-left">Cliente</td>
<td class="text-left">Total</td>
<td class="text-left">CEP</td>
<td class="text-left">Metodo</td>
<td class="text-left">Status</td>
<td class="text-left">Data</td>
</tr>

</thead>
<tbody>
{% if (orders) %} 
{% for order in orders %} 
<tr>
<td class="text-center">
<input type="checkbox" name="selected" value="{{ order['order_id'] }}" />
</td>
<td class="text-right" style="width:100px">{{ order['order_id'] }}</td>
<td class="text-left">{{ order['customer'] }}</td>
<td class="text-left">{{ order['total'] }}</td>
<td class="text-left">{{ order['cep'] }}</td>
<td class="text-left">{{ order['meio']['meio'] }} ({{ order['meio']['total'] }})</td>
<td class="text-left">{{ order['status'] }}</td>
<td class="text-left" style="width:100px">{{ order['date_added'] }}</td>
</tr>
{% endfor %} 
{% else %} 
<tr>
<td class="text-center" colspan="8">Nenhum registro disponivel!</td>
</tr>
{% endif %} 
</tbody>
</table>
</div>
</form>

<div class="row">
  <div class="col-sm-6 text-left">{{ pagination }}</div>
  <div class="col-sm-6 text-right">{{ results }}</div>
</div>

</div>
</div>

</div>
</div>

<script type="text/javascript">
function popupwindow(url, title, w, h) {
  var left = (screen.width/2)-(w/2);
  var top = (screen.height/2)-(h/2);
  return window.open(url, title, 'toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=yes, resizable=no, copyhistory=no, width='+w+', height='+h+', top='+top+', left='+left);
}

function imprimirEtiquetas(){
	var checkedVals = $('input[name^=\'selected\']:checked').map(function() {
    return this.value;
	}).get();
	if(!checkedVals || checkedVals==''){
		alert('Selecione no minimo um pedido!');
		return false;
	}
	var selecionados = checkedVals.join(",");
	console.log(selecionados);
	return popupwindow('index.php?route=extension/shipping/correiospro5/imprimir&user_token={{ token }}&pedidos='+selecionados, 'Imprimir etiquetas', 800, 600);
}

$('#button-filter').on('click', function() {
	url = 'index.php?route=extension/shipping/correiospro5/etiquetas&user_token={{ token }}';
	var filter_order_id = $('input[name=\'filter_order_id\']').val();
	if (filter_order_id) {
	url += '&filter_order_id=' + encodeURIComponent(filter_order_id);
	}
	var filter_customer = $('input[name=\'filter_customer\']').val();
	if (filter_customer) {
	url += '&filter_customer=' + encodeURIComponent(filter_customer);
	}
	var filter_order_status = $('select[name=\'filter_order_status\']').val();
	if (filter_order_status != '*') {
	url += '&filter_order_status=' + encodeURIComponent(filter_order_status);
	}
location = url;
});

$('input[name=\'filter_customer\']').autocomplete({
	'source': function(request, response) {
	$.ajax({
	url: 'index.php?route=sale/customer/autocomplete&user_token={{ token }}&filter_name=' +  encodeURIComponent(request),
	dataType: 'json',			
	success: function(json) {
	response($.map(json, function(item) {
	return {
	label: item['name'],
	value: item['customer_id']
	}
	}));
	}
	});
	},
	'select': function(item) {
	$('input[name=\'filter_customer\']').val(item['label']);
	}	
});
</script> 

{{ footer }}