.common-home footer { margin-top: 20px; }

/*---------------------------------------*/
/*-------   18. Loader module       -----*/
/*---------------------------------------*/

.bg-area{
    position: fixed;
    left: -50%;
    right: -50%;
    top: 0;
    bottom: 0;
    animation: animate 5s ease-in-out infinite alternate;
    background: linear-gradient(90deg, #10A3F0 50%, #77CBF7 -50%);
    z-index: 777;
}
.layer-2{
    animation-direction: alternate-reverse;
    animation-duration: 3s;
}

.layer-3{
    animation-duration: 5s;
}

.banner-text{
    left: 50%;
    position: fixed;
    text-align: center;
    top: 50%;
    transform: translate(-50%, -50%);
z-index: 888;
}

.banner-text img{
width: 700px;
max-width: 90%
}

@keyframes animate{
    0%{
        transform: translateX(-50%);
    }
    100%{
        transform: translateX(50%);
    }
}


/*#loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  opacity: 1;
  display: block;

background-color: lime;
}



#loader-wrapper.loader-off,
body.loaded #loader-wrapper {
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 500ms linear 0s;
  -moz-transition: all 500ms linear 0s;
  -ms-transition: all 500ms linear 0s;
  -o-transition: all 500ms linear 0s;
  transition: all 500ms linear 0s;
}

#loader {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 200px;
  height: 200px;
  margin-top: -9px;
  margin-left: -100px;
  perspective: 400px;
  transform-type: preserve-3d;
}

#loader .dot {
  animation: loader ease-in-out 3s infinite;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: black;
  position: absolute;
  background: #2879fe;
}

#loader .dot:nth-child(2) {
  animation-delay: 0.5s;
}

#loader .dot:nth-child(3) {
  animation-delay: 0.4s;
}

#loader .dot:nth-child(4) {
  animation-delay: 0.3s;
}

#loader .dot:nth-child(5) {
  animation-delay: 0.2s;
}

#loader .dot:nth-child(6) {
  animation-delay: 0.1s;
}

#loader .dot:nth-child(7) {
  animation-delay: 0s;
}

html:not(.ie) #loader .dot {
  border: 2px solid #ffffff;
}

@keyframes loader {
  15% {
    transform: translateX(0);
  }
  45% {
    transform: translateX(235px);
  }
  65% {
    transform: translateX(235px);
  }
  95% {
    transform: translateX(0);
  }
}
*/

.tt-desctop-parent-multi.tt-parent-box {
    display: none;
}

.tt-stuck-parent-multi.tt-parent-box {
    display: none;
}

ul.tt-options-swatch li:nth-child(2) {
    border: 1px solid #000;
    border-radius: 50%;
}

.tt-content-aside {
    display: none;
}

/*.tt-desktop-header {
    display: block;
    position: absolute;
    width: 100%;
}*/

/*.tt-logo img {
    height: auto;
    max-height: 40px;
}*/