footer .advanced-grid  { max-width: 587px;margin: 0px auto;text-align: center; }
footer .tt-social-icon li:first-child { margin-left: auto; }
footer .tt-social-icon li:last-child { margin-right: auto; }